

  <div id="notes" class="transition-enabled">
    <% @notes.each do |note| %>
      <div class="box panel panel-default">
        <% if note.image? %>
         
          <%= link_to image_tag(note.image.url(:medium)), note %>
        <% end %>
        <div class="panel-body">
          <%= note.description %><br/>
          <%= image_tag note.user.avatar.url(:thumb), :class => "style_image" if note.user.avatar  %>
          <strong><%= note.user.name if note.user %></strong>
          <% if note.user == current_user %>
            <div class="action" >
              <%= link_to edit_note_path(note) do%>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              <%= link_to note, method: :delete do%>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<div class="center">
   <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>


