
<div id="notes" class="transition-enabled">
  <% @notes.each do |note| %>
    <div class="box panel panel-default">
      <% if note.image? %>
       
        <%= link_to image_tag(note.image.url(:medium)), note %>
      <% end %>
      <div class="panel-body">
        <%= note.description %><br/>
        <strong><%= note.user.email if note.user %></strong>
        <% if note.user == current_user %>
          <div class="action" >
            <%= link_to 'Edit', edit_note_path(note) %>
            <%= link_to 'Destroy', note, method: :delete %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>



