<h1>Listing notes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>User </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.description %></td>
        <td><%= note.user.email if note.user %></td>
        <td><%= link_to 'Show', note %></td>
        <% if note.user == current_user %>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
