
<div id="notes" class="transition-enabled">
  <% @notes.each do |note| %>
    <div class="box panel panel-default">
      <%= image_tag note.image.url(:medium) if note.image? %>
      <div class="panel-body">
        <%= note.description %>
        <%= note.user.email if note.user %>
        <%= link_to 'Show', note %>
        <% if note.user == current_user %>
          <%= link_to 'Edit', edit_note_path(note) %>
          <%= link_to 'Destroy', note, method: :delete %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>



